# Discord Bot Token - получить в https://discord.com/developers/applications
BOT_TOKEN=MTUyOTk5OTQyNjE5MjQwODgyNg.GhV6j5.dx3gWwAvBm2WyebZuP_Ys3Wgk9VX-Juih9uMj8

# ID вашего сервера (включить режим разработчика -> ПКМ по серверу -> Копировать ID)
GUILD_ID=1528337219612311633

# ID категории для тикетов
CATEGORY_ID=1529240936356380672

# ID роли персонала (кто может видеть и управлять тикетами)
STAFF_ROLE_ID=1530014120949317692

# ID канала для логов
LOG_CHANNEL_ID=1530014247898054799

# Время жизни тикета в часах
TICKET_LIFETIME_HOURS=10
